html {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.hero-banner {
  height: 70vh;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center center;
}

.logo {
  color: #fff;
  display: block;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

li a:hover {
  color: #b387ff;
  transition: all 500ms linear;
}

label {
  display: block;
}

input, select, textarea {
  font-size: 1.125rem;
  border-color: #e2e2e2;
}

fieldset {
  border: none;
}

.opt {
  color: #70ad55;
}

footer {
  color: #fff;
  padding: 1rem;
}

.btn {
  border-color: #fff;
  border-radius: 15px;
  font-size: 1.25rem;
  color: #fff;
  background-color: none;
}

.btn:hover {
  border-color: #b387ff;
  color: #e2e2e2;
}

hr {
  margin: auto;
  color: #fff;
}

.contact {
  display: block;
  color: #fff;
}

.fill {
  filter: grayscale(100%);
}

.fill {
  position: relative;
  transition: all 500ms linear;
  overflow: hidden;
  cursor: pointer;
}

.fill:hover {
  filter: none;
}

.icon {
  display: inline-block;
  position: relative;
  background-size: contain;
  vertical-align: middle;
}

.icon:hover {
  background-color: #b387ff;
  transition: all 500ms linear;
}

.dino-content {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
