html {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.hero-banner {
  height: 70vh;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center center;
}

.logo {
  color: #fff;
  display: block;
}

label {
  display: block;
}

input, select, textarea {
  font-size: 1.125rem;
  border-color: #e2e2e2;
}

fieldset {
  border: none;
}

.opt {
  color: #70ad55;
}

footer {
  color: #fff;
  padding: 1rem;
}

.btn {
  background-color: #e2e2e2;
  border: none;
  font-size: 1.25rem;
  padding: .5em .75em;
  color: #000;
}

.btn:hover {
  background-color: #b387ff;
  color: #e2e2e2;
  transition: background-color 1s linear;
}

hr {
  margin: auto;
  color: #fff;
}

.contact {
  display: block;
  color: #fff;
}

.card {
  position: relative;
  transition: all 500ms linear;
  overflow: hidden;
}
